<h1>Populacious</h1>
<h2>Account</h2>
<h3><a href=#>Sign Up [unavailable]</a></h3>
<h3><a href=#>Log In [unavailable]</a></h3>
<h2>Polls</h2>
<h3><a href={% url 'polls:submit' %}>Submit a Poll [in progress]</a></h3>
<h3>Vote</h3>

{% if polls_list %}
    <ul>
    {% for poll in polls_list %}
        <li>
			<h3>
				<a href="{% url 'polls:detail' poll.id %}">{{ poll.title }}</a>
			</h3>
			{{ poll.question }}
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}