<h1>Submit Poll</h1>

<form action={% url 'polls:done' %} method="post">
{% csrf_token %}
<p>
	Poll Type
	<select name="type">
		<option value="ES">Single-choice Election (FPTP)</option>
		<option value="RE">Referendum</option>
		<option value="PR">Multiple-Choice Election (PR)</option>
	</select>
</p>
<p>
	Valid Voting Area
	<select name="area">
		<option value = "WW">Global</option>
		<option value = "EU">European Union</option>
		<option value = "UK">United Kingdom</option>
		<option value = "US">United States of America</option>
	</select>
</p>
<p>All polls start when approved by an admin. They last one week, after which
no one will be able to vote. The poll will remain for one more month and then
be deleted.</p>
<p>
	Short title. Must be 5-40 characters long inclusive
	<input type="text" name="title"/>
</p>
<p>
	Longer question. Maximum 240 characters
	<input type="text" name="question"/>
</p>
<p>
	List of options voters can vote for. Separate each option with a semicolon
	<input type="text" name="values"/>
</p>
<input type="submit" value="Submit Poll"/>
</form>